/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.content {
  margin-top: 36px;
  padding: 36px;
  padding-top: 0;
  /* For "sticky" table header */
  height: calc(100vh - 135px);
  overflow: auto;
}

.text-center {
  text-align: center;
}

.spinner-wrapper {
  text-align: center;
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-wrapper .mat-spinner {
  margin: auto;
}
